/* load.loaded.less */
/* BOSS.less */
.loaded .overlay {
  display: none;
}
.loaded.advanced .status {
  top: -3em;
  opacity: 0;
  -webkit-border-radius: 0 0 0.5em 0.5em;
  -moz-border-radius: 0 0 0.5em 0.5em;
  border-radius: 0 0 0.5em 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.loaded.basic .status {
  top: -3em;
  opacity: 0;
}
