@import "/lib/elements/elements.less";

// Default styles
.overlay { display: none; width: 100%; height:100%; position: absolute; top: 0; left: 0; z-index: 5000; background: #fff; }
.status { height: 3em; padding: 0 1.5em; line-height: 3em; position: absolute; top: -3em; left: 50%; z-index: 5001; text-align: center; background: #ffc40d; opacity: 0; }

// Loading "state"
.loading {
  .overlay { display: block; }
  .status {}
  &.advanced {
    .overlay {}
    .status { top: 0; opacity: 1; .border-radius(0, 0.5em, 0.5em, 0); .transition(opacity 0.3s ease-in); }
  }
  &.basic {
    .overlay {}
    .status { top: 0; opacity: 1; }
  }
}