.loaded {
  body { margin-top: 5em; }
  #loading { height: 5em; background-color: green; }
  &.advanced { 
    #loading { background-color: purple; }
  }
  &.basic { 
    #loading { background-color: pink; }
  }
}
