.loaded body {
  margin-top: 5em;
}
.loaded .loader {
  height: 5em;
  background-color: green;
}
.loaded.advanced .loader {
  background-color: purple;
}
.loaded.basic .loader {
  background-color: pink;
}
