/*---------------------------------------------------
		LESS Elements 0.5
	---------------------------------------------------
		A set of useful LESS mixins by Dmitry Fadeyev
		Special thanks for mixin suggestions to:
			Kris Van Herzeele,
			Benoit Adam,
			Portenart Emile-Victor
			
		More info at: http://lesselements.com
-----------------------------------------------------*/
.loaded .overlay {
  display: none;
}
.loaded.advanced .status {
  top: -3em;
  opacity: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0.5em;
  -moz-border-radius-bottomleft: 0.5em;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-top-left-radius: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.loaded.basic .status {
  top: -3em;
  opacity: 0;
}
